
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <center>

    <h1>
        Erişim Engellendi
    </h1>
    <p>
        Bu Ekrana Erişiminiz Bulunmamaktadır!
    </p>
    </center>
</body>
</html>
