@{
    ViewData["Title"] = "Hakkımızda";
}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title> </title>
    </head>

    <body>
        <h1>Biz Kimiz</h1>
    <p>Use this page to detail your site's privacy policy.</p>
    </body>

</html>


